/* pricing page */
.column{
    width: 15%;
    margin: 30px 10px;
    border-radius: 10px;
    background-color: #030332;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.column>.cardHead{
    border-radius: 10px 10px 0 0;
}
.column>p{
    padding: 10px;
}
.pricingcards{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.desc{
    text-align: center;
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
}
.cardHead{
    background-color: #030332;
    color: white;
    font-size: 2rem;
}
.priceHead{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 4rem;
    line-height: 8rem;
    color: #eee;
}
.priceAmt{
    color: #eee;
    font-size: 1.5rem;
}
.cardBtn{
    color: black;
    background-color: #FDCE07;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.4rem;
    margin: 22px;
    width: 65%;
    
    /* width: 10%;
    height: 10%; */
}
.cardBtn:hover{
    margin: 20.5px;
    padding: 10px;
    font-size: 1.5rem;
    width: 67%;
    transition: 0.2s;
}

.pricingPart{
    background-image: url("../../../public/images/eazytrendz_3070_trend20210218124824.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
